@charset "utf-8";
/* CSS Document */

@import url(../../../fonts.googleapis.com/css@family=Lobster+Two_3A400,400italic_7CCabin_7CRopa+Sans);

* {
	padding: 0;
	margin: 0;
	}

body {
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-family: Cabin, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.333em;
	color: #FFF;
	width: 100%;
	height: 100%;
	}
	
a img {
	border: none;
	}
	
p {
	margin: 1em 0;
	}	
	
ul {
	margin-left: 30px;
	}
	
ul li {
	padding-bottom: 10px;
	} 	
	
a {
	font: inherit;
	color: #adbc00;
	text-decoration: underline;
	outline: none !important;
	}	
	
a:hover {
	text-decoration: none;
	}	
	
.clear-float {
	clear: both;
	}
	
.error {
	color: #d80036 !important;
	}	
	
/* --- #top --- */
#top {
	overflow: hidden;
	display: block;
	position: relative;
	width: 100%;
	height: 500px;
	background: url('../images/pattern-a.png') top left repeat;
	}
	
/* --- HEADER#Logo --- */	
#logo {
	display: block;
	position: absolute;
	top: 20px;
	left: 60px;
	}	
	
/* --- #countdown --- */		
#countdown {
	display: block;
	position: absolute;
	top: 52px;
	right: 40px;
	height: 179px;
	}
	
#countdown h1 {
	font: italic normal 60px/64px "微软雅黑","Lobster Two", "Times New Roman", Times, serif;
	padding: 0 18px 0 26px;
	margin: 0;
	rem-background-color: rgba(0, 0, 0, 0.7);
	background: url('../images/black-opacity-80.png') top left repeat;
	}		
	
#countdown div {
	text-align: right;
	}	
		
#countdown p {
	display: inline;
	font: italic normal 21px/27px "Lobster Two", "Times New Roman", Times, serif;
	padding: 0 18px 0 26px;
	margin: 0;
	rem-background-color: rgba(0, 0, 0, 0.7);
	background: url('../images/black-opacity-80.png') top left repeat;
	text-align: right;
	}	
	
#countdown ul {
	position: absolute;
	top: 95px;
	right: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	}	
	
#countdown ul li {
	float: left;
	position: relative;
	width: 84px;
	height: 84px;
	margin: 0 0 0 10px;
	padding: 0;	
	text-align: center;
	}	
	
#countdown ul li img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	}	
	
#countdown ul li b {
	display: block;
	position: absolute;
	top: 14px;
	left: 0;
	width: 84px;
	font: italic normal 36px/41px "Lobster Two", "Times New Roman", Times, serif;
	color: #FFF;
	z-index: 9000;
	}	
	
#countdown ul li span {
	display: block;
	position: absolute;
	top: 55px;
	left: 0;
	width: 84px;
	font: normal 14px/14px "Ropa Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	text-transform: uppercase;
	z-index: 9000;
	}
	
#countdown ul li span.long {
	display: block;
	}
	
#countdown ul li span.short {
	display: none;
	}		


/* --- #player --- */	
#player {
	display: block;
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 148px;
	height: 39px;
	margin-left: -84px;
	}
	
#player div {
	float: left;
	padding: 0 5px;
	}
	
#player a {
	display: block;
	width: 39px;
	height: 39px;
	outline: none;
	}
	
#player a.prev {
	background: url('../images/icon-prev.png');
	}
	
#player a.prev:hover {
	background: url('../images/icon-prev-hover.png');
	}	
	
#player a.next {
	background: url('../images/icon-next.png');
	}
	
#player a.next:hover {
	background: url('../images/icon-next-hover.png');
	}	

#player a.play {
	background: url('../images/icon-play.png');
	}	
	
#player a.play:hover {
	background: url('../images/icon-play-hover.png');
	}		

#player a.pause {
	background: url('../images/icon-pause.png');
	}	
	
#player a.pause:hover {
	background: url('../images/icon-pause-hover.png');
	}		

#player .slider-preloader {
	display: block;
	position: relative;
	float: none;
	width: 38px;
	height: 38px;
	background: url('../images/player-preloader-bg.png') center center no-repeat;
	padding: 0;
	margin: 0 auto;
	}
	
#player .slider-preloader span {
	display: block;
	width: 38px;
	height: 38px;
	background: url('../images/loader-slider.gif') center center no-repeat;
	}	

/* --- #menu-style-a --- */
#menu-style-a {
	display: block;
	position: absolute;
	bottom: -4px;
	right: 40px;
	z-index: 999;
	}
	
#menu-style-a ul {
	padding: 0;
	margin: 0;
	list-style: none;
	}	
	
#menu-style-a ul li {
	display: block;
	width: 102px;
	height: 116px;
	float: left;
	margin:0 0 0 10px;
	padding: 0;
	}
	
#menu-style-a ul li a {
	font: italic 21px/99px "Lobster Two", "Times New Roman", Times, serif;
	text-decoration: none;
	color: #FFF;
	display: block;
	position: relative;
	width: 102px;
	height: 116px;
	text-align: center;
	background: url('../images/menu-item-bg.png') top left no-repeat;
	}
	
#menu-style-a ul li a:hover {
	background: url('../images/menu-item-bg-hover.png') top left no-repeat;
	}
	
#menu-style-a ul li a.active {
	background: url('../images/menu-item-bg-active.png') top left no-repeat !important;	
	}	
	
/* --- #menu-style-b --- */
#wrap-menu-style-b {
	display: none;
	}	

/* --- #content --- */	
#content {
	display: block;	
	position: relative;
	width: 100%;
	padding: 0 0 49px 0;
	background: url('../images/transparent-bg.png') top left repeat;
	}
	
#content .page {
	display: block;	
	position: relative;
	}
	
#content .page header {
	display: block;
	width: 100%;
	border-bottom: 1px solid #adbc00;
	background: url('../images/pattern-a.png') top left repeat;
	}	
	
#content .page header	h1 {
	display: block;
	min-width: 220px;
	max-width: 740px;	
	margin: 0 auto;	
	font: italic normal 30px/36px "Lobster Two", "Times New Roman", Times, serif;
	padding: 27px 20px;
	}
	
#content .page h2 {
	font: italic normal 20px/20px "Lobster Two", "Times New Roman", Times, serif;
	margin: 0 0 20px;
	padding: 20px 0 0 0;
	}

#content article {
	display: block;
	padding: 0 0 70px 0;
	background-color: #000000;
	border-bottom: 1px solid #ADBC00;
	}

#content article .inner {
	display: block;
	position: relative;
	min-width: 220px;
	max-width: 740px;	
	margin: 0 auto;
	padding: 10px 20px 0;
	background-color: #000;
	}
	
#content .button-close {
	position: absolute;
	top: 0;
	right: 20px;
	width: 33px;
	height: 35px;
	background: url('../images/button-tab-close.png') top left no-repeat;
	}
	
#content .button-close:hover {
	background: url('../images/button-tab-close-hover.png') top left no-repeat;
	}	
	
#content .button-top {
	position: absolute;
	bottom: -50px;
	right: 20px;
	width: 33px;
	height: 34px;
	background: url('../images/button-top.png') top left no-repeat;
	}
	
#content .button-top:hover {
	background: url('../images/button-top-hover.png') top left no-repeat;
	}		
	
/* --- .portfolio --- */	
.wrap-portfolio {
	display: block;
	position: relative;
	left: -11px;
	rem-min-width: 230px;
	rem-max-width: 756px;
	width: 756px;	
	margin: 0 auto;
	}	

#content .portfolio {
	display: block;
	position: relative;
	float: left;
	}	
	
#content .portfolio figure {
	display: block;
	position: relative;
	float: left;
	width: 222px;
	height: 142px;
	margin: 0 11px 40px;
	padding: 4px;
	background-color: #FFF;
	}
	
#content .portfolio figure img {
	cursor: pointer;
	width: 222px;
	height: 142px;
	}

#content .portfolio figure figcaption {
	display: none;
	overflow: hidden;
	position: absolute;
	bottom: 4px;
	left: 4px;
	width: 207px;
	max-height: 64px;
	padding: 4px 7px 1px 8px;
	background-color: #333;
	background-color: rgba(51, 51, 51, 0.9);
	border-top: 0;
	border-bottom: 6px solid transparent;
	font-size: 14px;
	line-height: 16px;
	}
	
#content .portfolio figure .zoom {	
	display: block;
	position: absolute;
	bottom: -45px;
	left: 50%;
	width: 45px;
	height: 45px;
	margin-left: -22px;
	outline: none;
	background: url('../images/icon-zoom.png') top left no-repeat;
	cursor: pointer;
	} 	
		 
#content .portfolio figure .zoom:hover {
	background: url('../images/icon-zoom-hover.png') top left no-repeat;
	}	
	
/* --- #preloader --- */	
#preloader {
	overflow: auto;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: url('../images/preloader-opacity-bg.png') top left repeat;
	z-index: 10;
	}
	
#preloader div {
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: #adbc00;
	}	
	
/* --- #footer --- */	
#footer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 49px;	
	background-color: #000;
	color: #FFF;
	}
	
.footer-inner	{
	position: relative;
	height: 49px;
	margin: 0 50px 0 70px;
	}
/* --- #twitter-top --- */
#twitter-top {
	display: none;
	}
	
#twitter-top .tweet {
	height: 68px;
	rem-padding-bottom: 2px
	}	
	
/* --- #twitter-bottom --- */
#admin-part {
	display: block;
	overflow: hidden;
	height: 36px;
	rem-padding: 14px 0 0 41px;
	padding: 12px 0 0 5px;
	}
	
.admin{
	height: 21px; 
	margin-top:5px;
	float:right;
	overflow-y:hidden;	
	}
.admin a{
	font-weight:bold;
	color:#222;
	text-decoration: none;
}

.admin a:hover{
	color:#fff;
	border:0;
	border-radius:5px;
	background:#000;
	transition:all .3s linear;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
}

/* --- #twitter-top --- */
#twitter-top {
	display: none;
	}
	
#twitter-top .tweet {
	height: 68px;
	rem-padding-bottom: 2px
	}	
	
	
/* --- #social-icons --- */		
.social-icons	{
	display: block;
	float: right;
	padding: 10px 0 0 0;
	margin: 0;
	list-style: none;
	}
	
.social-icons	li {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin: 0 0 0 10px;
	padding: 0;
	outline: none;
	background: url('../images/social-icons/_clear.png') center center no-repeat;
	}	
	
.social-icons	li:hover {
	background-image: url('../images/social-icons/_green.png');
	}		
	
.social-icons	li a {
	display: block;
	width: 30px;
	height: 30px;
	background: url('../images/social-icons/_clear.png') center center no-repeat;
	}	

/*
.social-icons	.twitter {
	background-image: url('../images/social-icons/twitter.png');
	}		
	
.social-icons	.facebook {
	background-image: url('../images/social-icons/facebook.png');
	}	
	
.social-icons	.google-buzz {
	background-image: url('../images/social-icons/google-buzz.png');
	}	
*/	
		
.social-icons .qq {
	background-image: url('../images/social-icons/qq.png');
	}	
	
.social-icons .qqQJ {
	background-image: url('../images/social-icons/qqQJ.png');
	}
	
.social-icons .txWB {
	background-image: url('../images/social-icons/txWB.png');
	}
	
.social-icons .xlWB {
	background-image: url('../images/social-icons/xlWB.png');
	}	
	
.social-icons .py {
	background-image: url('../images/social-icons/py.png');
	}			
	
	
	
/* --- #fullscreen-slider --- */
#fullscreen-slider {
	overflow: hidden;
	display: block;
rem-position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -999;
	}
	
#fullscreen-slider a {
	display: none;
	}

#fullscreen-slider img {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	}
	
/* --- #box-address-contact-from --- */	
#box-address-contact-from	{
	display: block;
	height: 300px;
	}	
	
/* --- #location --- */	
#location {
	display: block;
	position: relative;
	width: 100%;	
	padding: 0;
	margin: 0 0 20px 0;
	}
	
#location > div.wrap {
	position: relative;
	height: 455px;
	border: 4px solid #FFF;
	}
	
#location small {
	position: absolute;
	bottom: 10px;
	left: 80px;
	}	
	
#location iframe {
	width: 100% !important;
	height: 100% !important;
	}	

/* --- #address --- */	
#address {
	display: block;
	}
#address ul{
	list-style-image:url(../images/dot4.gif);
}	
#address a{
	color:white;
	text-decoration: none;
}
#address a:hover{
	color:#adbc00;
	text-decoration: solid;
}	
	