<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC   
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"   
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!--指定连接数据库用的驱动-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--指定连接数据库的路径-->
        <property name="connection.url">jdbc:mysql://localhost:3306/tangchao_sys</property>
        <!--指定连接数据库的用户名-->
        <property name="connection.username">root</property>
        <!--指定连接数据库的密码-->
        <property name="connection.password">Huawei@345</property>
        <!--指定数据库使用的SQL方言-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- show_sql 打印SQL语句 -->
        <property name="show_sql">true</property>
        
        <!-- C3P0连接池配置 -->
        <!-- 获取connnection时测试是否有效 -->
        <property name="testConnectionOnCheckin">true</property>
        <!-- 自动测试的table名称 -->
        <property name="automaticTestTable">C3P0TestTable</property>
        <!-- set to something much less than wait_timeout, prevents connections from going stale -->
        <property name="idleConnectionTestPeriod">18000</property>
        <!-- set to something slightly less than wait_timeout, preventing 'stale' connections from being handed out -->
        <property name="maxIdleTime">25000</property>
        <!-- if you can take the performance 'hit', set to "true" -->
        <property name="testConnectionOnCheckout">true</property>

        <!-- 添加实体类的映射文件-->
        <mapping resource="tk/shaofeng/tangchao/model/UserModel.hbm.xml" />
        <mapping resource="tk/shaofeng/tangchao/model/RechargeModel.hbm.xml" />
        <mapping resource="tk/shaofeng/tangchao/model/ServiceModel.hbm.xml" />
          
    </session-factory>
</hibernate-configuration>